Thumbs.db
__pycache__/
.ipynb_checkpoints/
.vscode/
database/
dist/
*.egg-info/
old/
surrogates/
tutorialPictures/
/kawin/KWNLagrange.py
/kawin/RBF.py
*/__pycache__/
.pytest_tmp/
*/backup/
*/unused/
*.mp4
*.png
*.svg
*.csv
*.txt
*.html
*.npz
*.npy
*.xml
.coverage
